# velox - Unattended archangel installation config (Btrfs)
# Usage: archangel --config-file /root/velox-btrfs.conf

FILESYSTEM=btrfs
HOSTNAME=velox
TIMEZONE=America/Chicago
LOCALE=en_US.UTF-8
KEYMAP=us

DISKS=/dev/nvme0n1
RAID_LEVEL=

LUKS_PASSPHRASE=welcome
ROOT_PASSWORD=welcome
ENABLE_SSH=yes
